{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Color Picker
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' ) }}">
{% endblock %}


{% block content %}
<h1>Color Picker</h1>

<img src="{{ url_for('static', filename=image) }}">

<ul>
    {% for color in colors: %}
    <li>
        <span class="square" style="background: rgb{{color[1]}};"></span>
        <span>{{ color[0] }}</span>
        <span>Color: rgb{{color[1]}}</span>
    </li>
    {% endfor %}
</ul>

{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

{% endblock %}