:root {
  --bright-green: #3C6255;
  --mild-green: #61876E;
  --dry-green: #A6BB8D;
  --cream: #EAE7B1;
}

body {
  background: var(--cream);
}

h1,
h2 {
  font-weight: 700;
}

/* header  */
header {
  background: var(--bright-green);
  color: #fff;
}

.navbar {
  padding: 1.5% 10%;
}

.navbar-nav {
  list-style-type: none;
  display: block;
  margin-left: 70%;
}

@media (max-width:1040px) {
  .navbar-nav {
    margin-left: 60%;
  }
}

.navbar-toggler {
  box-shadow: 0 0 2px #fff;
}

@media (max-width:768px) {
  .navbar-toggler {
    margin: 1rem auto;
  }

  .navbar-collapse {
    text-align: center;
  }

  .navbar-nav {
    margin: auto;
  }
}

.nav-item {
  height: 100%;
  margin: 0 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  transition: .3s all linear;
}

.nav-item:hover {
  text-decoration: underline;
  scale: 1.01;
}

/* main  */
.front {
  width: 100%;
  height: 60vh;
  text-align: center;
  padding-top: 10%;
}

.front p {
  text-transform: capitalize;
  font-style: italic;
}

/* project section  */
.project-section {
  background-color: var(--dry-green);
  padding: 5% 10%;
}

.project-type {
  font-size: 1.6rem;
  margin: 2.3rem 0 1rem;
  text-decoration: underline;
}

.project-card {
  cursor: pointer;
  margin: 0;
  position: relative;
  margin-top: 5rem;
}

.card-link {
  transition: .4s all linear;
  text-decoration: none;
}

.card-title {
  padding: 1rem;
  margin-bottom: .5rem;
}

.project-card .card-body {
  transition: .4s all linear;
}

.project-card .card-body::before {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 3.5%;
  right: 3.5%;
  bottom: 0;
  transition: .4s all linear;
}

.project-card:hover .card-body::before {
  background: transparent;
}

.card-9 .card-body::before {
  background: rgba(0, 0, 0, 0.6)
}

.card-9:hover .card-body::before {
  background: rgba(0, 0, 0, 0.4)
}

.card-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-width: 200px;
  min-height: 300px;
}

/* contact section  */
.contact-section {
  background: var(--cream);
  padding: 5% 10% 10%;
}

.contact-section .navbar-nav {
  padding: 0;
  margin-top: 1.5rem;
}

.contact-mode {
  margin-right: 2rem;
}

.contact-mode i a {
  margin-left: .5rem;
}

.contact-mode i {
  transition: .4s all linear;
}

.contact-mode:hover i {
  scale: 1.01;
}

.divider {
  margin: 5rem auto 3rem;
}