:root {
  --bright-green: #3C6255;
  --mild-green: #61876E;
  --dry-green: #A6BB8D;
  --cream: #EAE7B1;
}

body {
  background: var(--cream);
}

h1,
h2 {
  font-weight: 700;
}

/* header  */
header {
  background: var(--bright-green);
  color: #fff;
}

.navbar {
  padding: 1.5% 10%;
}

.navbar-nav {
  list-style-type: none;
  display: block;
  margin-left: auto;
}

.nav-item {
  height: 100%;
  margin: 0 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  transition: .3s all linear;
}

.nav-item:hover {
  text-decoration: underline;
  scale: 1.01;
}

/* main  */
.front {
  width: 100%;
  height: 60vh;
  text-align: center;
  padding-top: 10%;
}

.front p {
  text-transform: capitalize;
  font-style: italic;
}

/* project section  */
.project-section {
  background-color: var(--dry-green);
  padding: 5% 10%;
}

.project-type {
  font-size: 1.6rem;
  margin: 2.3rem 0 1rem;
  text-decoration: underline;
}

.card {
  cursor: pointer;
  margin: 0;
  position: relative;
  margin-top: 2rem;
}

.card-body img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  min-width: 200px;
  min-height: 300px;
}

.card .card-body {
  transition: .4s all linear;
}

.card .card-body::before {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 16%;
  left: 0;
  right: 10%;
  bottom: 0;
  transition: .4s all linear;
}

.card:hover .card-body::before {
  background: transparent;
}

.card-9 .card-body::before {
  background: rgba(0, 0, 0, 0.6)
}

.card-9:hover .card-body::before {
  background: rgba(0, 0, 0, 0.4)
}

.card-link {
  transition: .4s all linear;
}

/* contact section  */
.contact-section {
  background: var(--cream);
  padding: 5% 10%;
}