<main class="main">
    <div class="front">
        <h1>Hello, I am Neeraj Parmar</h1>
        <p>a web developer</p>
    </div>
    <section class="project-section">
        <h2>My projects</h2>
        <p class="project-type">React projects: </p>
        <div class="row">
            {% for project in projects %}
            <article class="project-card col-md-4 row card-{{project['id']}}" title="{{project['description']}}">
                <a href="{{project['github_link']}}" target="_blank" class="card-link">
                    <div class="col-12">

                        <div class="card-head">
                            <h3 class="card-title">{{ project['name'] }}</h3>
                        </div>
                        <div class="card-body">
                            <img src="{{project['image']}}" alt="{{project['name']}}" class="card-img-top">
                        </div>
                    </div>
                </a>
            </article>
            {% endfor %}
        </div>
    </section>

    <section class="contact-section">
        <h2>Let's work together...</h2>
        <div>
            <ul class="navbar-nav">
                <li class="contact-mode">
                    <i class="fa-brands fa-twitter">
                        <a href="https://twitter.com/nkp11111507" target="_blank">Twitter</a></i>
                </li>
                <li class="contact-mode">
                    <i class="fa-brands fa-github">
                        <a id="profile-link" href="https://github.com/nkp1111" target="_blank">Git Hub</a>
                    </i>
                </li>
                <li class="contact-mode">
                    <i class="fa-solid fa-at">
                        <a href="mailto:neerajp4321@gmail.com?subject=Email Subject&body=Contents of email"
                            target="_blank">Send a mail</a></i>
                </li>
            </ul>
        </div>
    </section>
</main>