body {
    background: #fefefe;
    padding: 5%;
}

p {
    margin: none;
}

/* home page  */
.main-heading {
    text-align: center;
}

.cafe-block {
    list-style-type: none;
}

.cafe-shop {
    background-color: #EECDD1;
    padding: 5%;
    margin: 2rem;
}

.cafe-image-small {
    width: 240px;
    height: 240px;
    object-fit: cover;
}

.add-btn {
    padding: 1rem 3rem;
}

/* cafe detail page */
.cafe-heading {
    margin-bottom: 4rem;
}

.cafe-detail-info>div {
    padding: 1rem;
}

.cafe-detail-info p {
    font-size: 2rem;
}


.cafe-image-big {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature {
    color: #191919;
    font-weight: 600;
    font-size: 2rem;
}

.extra-goods {
    list-style-type: none;
    padding: 0;
    margin-top: 4rem;
}

.extra-goods li {
    color: #191919;
    font-weight: 500;
    margin: 1rem 0;
    font-size: 2rem;
}

.link-action {
    margin-top: 4rem;
    justify-content: space-between;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.link-action a {
    display: inline-block;
    padding: .5rem 5rem;
    font-size: 2rem;
}

/* Add new cafe  */
form {
    width: 50%;
    margin: auto;
}

/* delete cafe  */
.delete-cafe {
    text-align: center;
}

.delete-cafe p {
    margin: 2rem 0 3rem;
}

.delete-cafe .btn {
    margin: 0 2rem;
}