{% include 'partials/header.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!--body-->
{% block content %}
<h1 class="main-heading">My Todo List</h1>

{% if current_user.name: %}
<h2>Welcome, {{ current_user.name }}</h2>
{% endif %}

{{ wtf.quick_form(form, novalidate=True) }}

{% for todo in tasks|reverse: %}
<div class="task {{'completed' if todo.completed else ''}}">
    <div class="task-info">
        <a class="task-link" href="{{url_for('change_task_status', task_id=todo.id)}}">

            <h2 class="task-name">{{todo.task}}</h2>
            {% if todo.completed %}
            <input type="checkbox" disabled checked>
            {%else: %}
            <input type="checkbox" disabled>
            {% endif %}
        </a>

        <span class="deadline">{{todo.deadline if todo.deadline else ''}}</span>
    </div>

    <div>
        <a href="{{ url_for('add_deadline', task_id=todo.id) }}" class="btn btn-primary"> Update deadline</a>
        <a href="{{url_for('delete_task', task_id=todo.id) }}" class="btn btn-danger">Delete Task</a>
    </div>



</div>

{% endfor %}

{% endblock %}