body {
    background: #86E5FF;
}

.main-heading {
    text-align: center;
}

.container-fluid {
    width:50%;
    min-width:350px;
    background: #FFC93C;
    padding: 3rem 3.5rem;
}

.overview {
    font-weight:600;
}

.note {
    font-size: 1.5rem;
    display: block;
    margin:3rem auto 0;
    color: #0081C9;
}