{% include 'partial/header.html' %}

{% block content %}
<h1>E-commerce Shop</h1>

<div class="container">
    {% if user %}
    <p>Welcome back, {{ user }}</p>
    {% endif %}

    <div class="product-card row">
    {% for product in products: %}
    <div class="card col-md-4">
        <div class="card-head">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description}}</p>
            <a class="btn btn-primary"
            href="https://buy.stripe.com/test_5kA2b5cuHeiQ0i43cc">Make Payment</a>
        </div>
        <div class="card-body">
            <img src="{{ product.img }}" alt="product image">
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}